substitutions:
  device_name: "Star Projector"

esphome:
  name: "nebula"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: none

  ap:
    ssid: "Fallback AP"
    password: !secret wifi_fallback_password

captive_portal:

logger:
  level: INFO

ota:
  platform: esphome
  password: !secret ota_password

web_server:
  port: 80

api:
  encryption:
    key: !secret api_key

packages:
  platform: !include platform_bk72xx.yaml
  device: !include nebula_light_device.yaml
